# build output
target/

# logs
*.log

# env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


node_modules/